<div class="filter">
    <%= form_tag show_path, method: :get, class: "form-inline" do %>

      <div class="row">
        <div class="col-md-4">
          <%= label_tag "location" %>
        </div>
        <div class="col-md-5">
          <%= label_tag 'search events' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= text_field_tag :city_name, params[:city_name], placeholder: "location", class: "form-control input-sm", size: 40 %>
        </div>
        <div class="col-md-5">  
          <%= text_field_tag :search_text, params[:search_text], placeholder: "search", class: "form-control input-sm", size: 50 %>
        </div>
        <div class ="col-md-2">
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
</div>
</br>