<div class="container">
<div class='well text-center'> 

	<h2>Current Weather Forecast for <%= @weather['name'] %></h2>
	</br>
	</br><p>name: <%= @weather['name'] %></p>
	</br><p>country: <%= @weather['country'] %></p>
	
	</br><p>forecast: <%= @weather['weather'][0]['main'] %></p>
	</br><p>description: <%= @weather['weather'][0]['description'] %></p>

	</br><p>temp: <%= @weather['main']['temp'] %></p>
	</br><p>pressure: <%= @weather['main']['pressure'] %></p>
	</br><p>humidity: <%= @weather['main']['humidity'] %></p>
	</br><p>min temp: <%= @weather['main']['temp_min'] %></p>
	</br><p>max temp: <%= @weather['main']['temp_max'] %></p>

	</br><p>wind speed: <%= @weather['wind']['speed'] %></p>
	</br><p>wind degrees: <%= @weather['wind']['deg'] %></p>
</div>


<div class='well text-center'> 

	<h2>Today's Events in <%= @weather['name'] %></h2>
	</br>

	</br>
	<% @events['events']['event'].each do |e| %>
		<h3><%= e['title'] %></h3>

		<p><%= e['start_time'] %> to <%= e['stop_time'] %></p>
	
		<p><%= e['description'] %></p>
		<p><%= e['venue_name'] %></p>
		<p><%= e['venue_address'] %></p>
		<p><%= e['city_name'] %>, <%= e['region_abbr'] %></p>
	<% end %>
</div>

</div>
