<div class="container">

	<div class='well text-center'> 

		<h2>Current Weather Forecast for <%= @weather['name'] %></h2>
		</br>

		<div class="row">
        <div class="col-md-4">
						<p><strong>City Name:</strong> <%= @weather['name'] %>, <%= @weather['country'] %></p>
						<p><strong>Forecast:</strong> <%= @weather['weather'][0]['main'] %></p>
						<p><strong>Description:</strong> <%= @weather['weather'][0]['description'] %></p>
        </div>
        <div class="col-md-4">
						<p><strong>Current Temp:</strong> <%= kelvin_to_faren(@weather['main']['temp']) %> deg F</p>
						<p><strong>Pressure:</strong> <%= @weather['main']['pressure'] %> hPa</p>
						<p><strong>Humidity:</strong> <%= @weather['main']['humidity'] %> %</p>
        </div>
        <div class="col-md-4">
						<p><strong>Min Temp:</strong> <%= kelvin_to_faren(@weather['main']['temp_min']) %> deg F</p>
						<p><strong>Max Temp:</strong> <%= kelvin_to_faren(@weather['main']['temp_max']) %> deg F</p>

						<p><strong>Wind Speed:</strong> <%= @weather['wind']['speed'] %> m/sec</p>
						<p><strong>Wind Direction:</strong> <%= @weather['wind']['deg'] %> deg</p>
				
				</div>
    </div>


	  <% if current_user %>
			</br>
			<%= form_for(@fave_city, url: { action: 'save_city' }) do |f| %>
				<%= f.hidden_field :fave_city, :value => @weather['name'] %>
				</br>
				<p><%= f.submit 'save city as favorite', class: "btn btn-primary" %></p>
			<% end %>
		<% end %>
	</div>

	<div class='well text-center'> 
		<%= render 'cities/filter' %>
	</div>


	<div class='well text-left'> 

		<h2 style="text-align:center;">Today's Events in <%= @weather['name'] %></h2>
		</br>

		</br>
		<% if @events['events'] %>

			<% @events['events']['event'].each do |e| %>
				<h3><%= e['title'] %></h3>

				<p><%= e['start_time'] %> to <%= e['stop_time'] %></p>
			
				<p><strong><%= e['venue_name'] %></strong></p>
				<p><strong><%= e['venue_address'] %></strong></p>
				<p><strong><%= e['city_name'] %>, <%= e['region_abbr'] %></strong></p>
				
				<p><%= e['description'].html_safe %></p>

				</br>
			<% end %>
		<% end %>

	</div>
</div>
