<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'CitySearch', root_path, class: 'brand' %>
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
 
        <% if current_user %>
          <li><p style="color:black;">Signed in as <strong><%= current_user.name %></strong></p></li>
          <li><%= link_to 'my profile', profile_path, style: "color:white;" %></li>
          <li><%= link_to 'home', root_path, style: "color:white;" %></li>
          <li><%= link_to 'about', about_path, style: "color:white;" %></li>
          <li><%= link_to "Sign out", signout_path, id: "sign_out", style: "color:white;" %></li>
        <% else %>
          <li><%= link_to 'home', root_path, style: "color:white;" %></li>
          <li><%= link_to 'about', about_path, style: "color:white;" %></li>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", style: "color:white;" %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>